<% unless @assignments.empty? %>
  <p id='assignments-box'>
    This Service Pack has been assigned for <%= @assignments.count>1? -'these projects:' : -'this project:' %>
  </p>
  <ul>
    <% @assignments.each do |assignment| %>
      <li><%= link_to assignment.project.name, project_path(assignment.project)  %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    This Service Pack is not being assigned to any projects.
  </p>
<% end %>