<style>
  label, input {
    margin-bottom: 0 !important;
    max-width: 500px !important;
  }
  input.rates {
    max-width: 465px !important;
  }
</style>
<h1>
  Create New Service Pack
</h1>

<%= render 'form' %>

<%= link_to "Back", service_packs_path, :class => "button -alt-highlight" %>
