<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
 
<p>
  <strong>Total Units:</strong>
  <%= @article.total_units %>
</p>

<p>
  <strong>Remanied Units:</strong>
  <%= @article.remain_units %>
</p>