<h2>Assigned Service Packs</h2>
<a class="button -alt-highlight float-right" href="#">
  <i class="button--icon icon-add" aria-hidden="true"></i><span class="button--text">Assign</span>
</a>
<% if @assignment.new_record? %>
  <div id="result-table">
    <div class="generic-table--no-results-container">
      <i class="icon-info1"></i>
      <h3 class="generic-table--no-results-title">No Service Pack is assigned to this project.</h3>
    </div>
  </div>
<% else %>
  <%= render partial: -'assignment_table' %>
<% end %>