<% if @project.enabled_modules.find_by(name: -'service_packs')%>  
  <div class="form--field -required">
    <label class="form--label -required" title="Which Service Pack this belongs to" for="service_pack_id">Service
      Pack<span class="form--label-required" aria-hidden="true">*</span></label>
    <span class="form--field-container">
      <span class="form--select-container -slim">
        <select name="[time_entry][service_pack_id]" required>
          <%= get_assigned_sp_id = @project.assigns.active.select(:service_pack_id)
              sp_availables = ServicePack.availables.where("id IN (#{get_assigned_sp_id.to_sql})").pluck(:id, :name) %>
          <% if te_spid = time_entry.service_pack_id %>
            <% sp_availables.each do |sp| %>
              <%= content_tag :option, sp[1], value: sp[0], selected: te_spid == sp[0] %>
            <% end %>
          <% else %>
            <option value="" selected>--- Pick a Service Pack ---</option>
            <% sp_availables.each do |sp| %>
              <option value="<%= sp[0] %>"><%= sp[1] %></option>
            <% end %>
          <% end %>
        </select>
      </span>
    </span>
  </div>
<% end %>