label, input {
	margin-bottom: 0 !important;
	max-width: 500px !important;
}
input.rates {
	max-width: 465px !important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
/*  background-color: #2196F3;*/
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: left;
  font-size: 20px;
}

.destroy {
  background-color: #fc0000 !important;
  color: #ffeeee !important;
}

a.blocked {
  opacity: 0.3;
  margin-right: 8px;
  cursor: default !important;
  margin-left: -5px;
}

#warnbox {
  font-size: 0.75em;
  text-align: center;
  position: relative;
  bottom: 7px;
  right: 2px;
}

hr {
  margin-top: 12px;
}

#assignments-box {
  line-height: 1.25;
  margin-bottom: 0.9rem;
}

.button.-highlight.-edit {
  margin-bottom: 0;
}

.button.-alt-highlight.-new {
  margin-bottom: 0;
}

.button-container {
  margin-bottom: 10px;
}

#rates-input {
  padding-left: 30px;
  padding-bottom: 20px;
  overflow-x: auto;
}

#table-rates-input {
  width: 40%;
}

table#table-rates-input td {
  border: 0px;
}

table#table-rates-input th {
  border: 0px;
}

#error-explanation {
  background-color: rgba(255,255,0,0.41);
}

#error-explanation h2 {
  color: #fc0000;
}

#detailed-sp {
  overflow: auto;
}

.sp {
  border: 1.5px solid;
  border-color: #EAEAEA;
  height: 250px;
  margin: 20px;
  padding: 20px;
}

.sp.description {
  float: left;
  width: 45%;
}

.sp.rates {
  float: left;
  width: 45%;
}
